label {
	width:150px;    /*Or however much space you need for the form’s labels*/
    float:left;
}

.headerTitleColumn {
    width: 50%;
    text-align: left;
}

.headerLocaleColumn {
    width: 50%;
    text-align: right;
}